Manager_Server_Admin/Connected Services/Server_Message/Manager_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manager_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manager_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHandled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UTask" nillable="true" type="tns:UTask" />
  <xs:complexType name="ArrayOfUTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UTask" nillable="true" type="tns:UTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUTask" nillable="true" type="tns:ArrayOfUTask" />
</xs:schema>