Manager_Server_Admin/Connected Services/Manager_Server/Manager_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manager_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manager_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHandled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MethodParameters" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UTask" nillable="true" type="tns:UTask" />
  <xs:complexType name="ArrayOfUTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UTask" nillable="true" type="tns:UTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUTask" nillable="true" type="tns:ArrayOfUTask" />
</xs:schema>