Manager_Server_Test/Connected Services/Manager_Server/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Manager_Server" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageSvc_PushInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:PushInfo" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_PushInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_GetServerDebugVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDebugVersion" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_GetServerDebugVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDebugVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_PushUTask_InputMessage">
    <wsdl:part name="parameters" element="tns:PushUTask" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_PushUTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushUTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_GetUTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUTasks" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_GetUTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_GetTimeStamp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeStamp" />
  </wsdl:message>
  <wsdl:message name="IMessageSvc_GetTimeStamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeStampResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageSvc">
    <wsdl:operation name="PushInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSvc/PushInfo" message="tns:IMessageSvc_PushInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSvc/PushInfoResponse" message="tns:IMessageSvc_PushInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDebugVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSvc/GetServerDebugVersion" message="tns:IMessageSvc_GetServerDebugVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSvc/GetServerDebugVersionResponse" message="tns:IMessageSvc_GetServerDebugVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushUTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSvc/PushUTask" message="tns:IMessageSvc_PushUTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSvc/PushUTaskResponse" message="tns:IMessageSvc_PushUTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSvc/GetUTasks" message="tns:IMessageSvc_GetUTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSvc/GetUTasksResponse" message="tns:IMessageSvc_GetUTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeStamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageSvc/GetTimeStamp" message="tns:IMessageSvc_GetTimeStamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageSvc/GetTimeStampResponse" message="tns:IMessageSvc_GetTimeStamp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageSvc" type="tns:IMessageSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushInfo">
      <soap:operation soapAction="http://tempuri.org/IMessageSvc/PushInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDebugVersion">
      <soap:operation soapAction="http://tempuri.org/IMessageSvc/GetServerDebugVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushUTask">
      <soap:operation soapAction="http://tempuri.org/IMessageSvc/PushUTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUTasks">
      <soap:operation soapAction="http://tempuri.org/IMessageSvc/GetUTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeStamp">
      <soap:operation soapAction="http://tempuri.org/IMessageSvc/GetTimeStamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageSvc">
    <wsdl:port name="BasicHttpBinding_IMessageSvc" binding="tns:BasicHttpBinding_IMessageSvc">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Manager_Server/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>